<%#= 経験談があったら %>
<h1>経歴作成</h1>
<%#= 経験談がなかったら %>
<%#= あなたの直近の経歴を登録してください。 %>

<%= render 'form', career: @career %>

<%#= ユーザーのキャリアがなかったら、 %>

<%#= ユーザーのキャリアがあったら、 %>
<%= link_to 'Back', user_path(current_user) %>
