<div class="container" style=" margin-top: 50px;" >
  <div class="text-center">
    <h4>以下より経験談を修正してください。</h4>
  </div>

<%= render 'form', experience: @experience %>

  <div class="text-center">
    <%= link_to '戻る', 'javascript:history.back()', class: "mt-3 btn btn-outline-secondary" %>
  </div>
</div>


