<div class="container" style=" margin-top: 50px;" >
  <div class="text-center">
    <h4>経験談作成ページ</h4>
  </div>

    <%= render 'form', experience: @experience %>

  <div class="text-center">
    <%= link_to '戻る', 'javascript:history.back()', class: " btn btn-outline-secondary" %>
  </div>
</div>
