<div class="container" style=" margin-top: 100px;" >
  <div class="text-center">
    <h4>経験談作成ページ</h4>
  </div>

    <%= render 'form', experience: @experience %>

  <div class="text-center">
    <%= link_to 'Back', experiences_path, class: "text-dark btn btn-outline-secondary"  %>
  </div>
</div>
