<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Growth Teller</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="javascript/all.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Page Header-->
    <header class=" masthead" style="background:url(<%= asset_path 'home-bg.jpg' %>); background-size:cover; background-position:center ">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Growth Teller</h1>
              <span class="subheading">～成長の遠回りを無くす自己啓発情報交換サービス～</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5" style=" margin-top: 70px;" >
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <p>
          <h6>皆さんは「これは無駄な自己啓発だった・・」と思った経験はありませんか？</h6><br>
          <h6>せっかく貴重な時間とお金を掛けても思った成果を得られなかった経験を我々は「成長の遠回り」と呼び、それを無くしたいと考えています。</h6>
        </p>
        <p>ぜひ、皆さんの今までの自己啓発の履歴を共有しながら、共に最適な自己啓発を見つけ合える。そして共に成長し合える。そんな空間を作っていきましょう。</p>
        
      <div class="row gx-4 gx-lg-5 mb-3 text-right">
        <h6>By Growth teller crew</h6>
      </div>
      
        
        <h5 class="post-title mt-3">◇運用についてのお願い</h5>
        <h6 class="post-subtitle">
          <p>※今回はプロトタイプですので、登録アドレスにインタビューのお願いをお声がけすることがございます（難しい場合は遠慮なくお断りください！）</p>
          <p>※運用は最大１年間を予定しておりますが、進捗状況によって運用期限前に終了する場合もあります。</p>
        </h6>
      </div>
        
      <div class="container text-center mt-5">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary mx-2 py-3" %><%= link_to "ログイン", new_user_session_path, class: "btn btn-primary py-3" %>
      </div>
    </div>
  </body>
</html>